<div class="full-height">
    <div class="login-wrapper animated fadeInDown">
        <div class="error-container bg-white col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="p-xl p-t-xl m-l-md m-r-md m-t-sm">
                <a class="logo">
                    <div ng-include="'views/common/logo/logo_orange_black.html'"></div>
                </a>

                <div class="row">
                    <div class="col-xs-12 m-b-md text-center">
                        <h1>{{ 'login.error.title' | translate }}</h1>
                    </div>
                    <div class="col-xs-12 m-b-xl">
                        <div class="alert alert-danger m-b-lg">
                            <p class="text-center">{{ 'login.error.contact' | translate }} <a href="mailto:vendor-support@anatwine.com">vendor-support@anatwine.com</a> {{ 'login.error.reference' | translate }}: <b>XE345d3W</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
