<div class="middle-box text-center animated fadeInDown">
    <a href="#/login/dashboard" class="logo">
        <div ng-include="'views/common/logo/logo_orange_black.html'"></div>
    </a>
    <h1>401</h1>
    <h3 class="font-bold">{{ 'access.unauthorised' | translate }}</h3>

    <div class="error-desc">
        <p>{{ 'access.unauthorised.message' | translate }}</p>
        <p class="m-l-xl m-r-xl">
            <a href="" ng-show="main.showGoBack" ng-click="main.goBack()" class="btn btn-xs btn-link text-info pull-left">{{ 'go.back' | translate }}</a>
            <a href="#/" ng-if="main.currentUser" class="btn btn-xs btn-link text-info pull-right">{{ 'go.to.homepage' | translate }}</a>
            <a href="#/login/homepage" ng-if="!main.currentUser" class="btn btn-xs btn-link text-info pull-right">{{ 'go.to.login.page' | translate }}</a>
            <small class="clearfix"></small>
        </p>
    </div>
</div>