<div class="middle-box text-center animated fadeInDown">
    <a href="#/login/dashboard" class="logo">
        <div ng-include="'views/common/logo/logo_orange_black.html'"></div>
    </a>
    <h1>500</h1>
    <h3 class="font-bold">Something has gone wrong</h3>

    <div class="error-desc">
        <p>We are experiencing an internal server problem and our team will be right on it.</p>
        <p>Meanwhile we apologise for this inconvenience</p>
        <p>Return to previous page</p>
    </div>
</div>