<div class="middle-box text-center animated fadeInRight">
    <h1 style="font-size: 100px;">{{ "oops" | translate }}</h1>
    <h3 class="font-bold">{{ "something.went.wrong" | translate }}</h3>

    <div class="error-desc">
        <p>{{ "something.went.wrong.message" | translate }}</p>
        <p class="m-l-xl m-r-xl">
            <a href="" ng-show="main.showGoBack" ng-click="main.goBack()" class="btn btn-xs btn-link text-info pull-left">{{ "go.back" | translate }}</a>
            <a href="#/retailer/homepage" ng-if="main.retailer" class="btn btn-xs btn-link text-info pull-right">{{ "go.to.homepage" | translate }}</a>
            <a href="#/vendor/homepage" ng-if="main.vendor || main.brand" class="btn btn-xs btn-link text-info pull-right">{{ "go.to.homepage" | translate }}</a>
            <small class="clearfix"></small>
        </p>
    </div>
</div>