<ng-include src="'views/common/layout/copyright.html'"></ng-include>

<nav id="navbarFooter" class="navbar navbar-expand fixed-bottom navbar-light bg-white d-block d-md-none animated fadeInUp">
    <div class="container justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref="home"><span class="fa fa-home"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="new" ui-sref-opts="{reload: true, notify: true}"><span class="fa fa-plus"></span></a>
            </li>
            <li class="nav-item" ng-if="nav.enableManage">
                <a class="nav-link" ui-sref="manage"><span class="fa fa-list"></span></a>
            </li>
            <li class="nav-item" ng-if="nav.enableCompare">
                <a class="nav-link" ui-sref="deals"><span class="fa fa-exchange"></span></a>
            </li>
        </ul>
    </div>
</nav>