<nav class="navbar navbar-default navbar-fixed-top hidden-xs animated fadeInDown">
    <div class="container">
        <ul class="list-inline">
            <li>
                <a ui-sref="home"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a ui-sref="new" ui-sref-opts="{reload: true, notify: true}">Start New Deal</a>
            </li>
            <li ng-if="nav.enableManage">
                <a ui-sref="manage">Manage Deals</a>
            </li>
            <li ng-if="nav.enableCompare">
                <a ui-sref="compare">Compare Deals</a>
            </li>
        </ul>
    </div>
</nav>