<ng-include src="'views/common/errors/error404.html'" ng-init="vm=vm"></ng-include>

<div class="row animated bounceInRight" ng-if="vm.deal">
    <div class="col">
        <h1 class="text-white font-weight-xlight mb-2">
            <span ng-if="vm.deal.name">{{vm.deal.name}}</span>
            <span ng-if="!vm.deal.name"></span>
        </h1>
        <div class="card bg-transparent text-dark text-left border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="mortgageAmount" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'MORTGAGE_AMOUNT' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">£</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="mortgageAmount" ng-model="vm.deal.mortgageAmount" placeholder="Mortgage balance">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="mortgageTermYears" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'TERM_YEARS' | translate}}</small>
                            </label>
                            <input type="number" class="form-control form-control-lg font-weight-light" id="mortgageTermYears" ng-model="vm.deal.mortgageTermYears" placeholder="Term (years)">
                        </div>
                        <div class="form-group">
                            <label for="mortgageTermMonths" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'TERM_MONTHS' | translate}}</small>
                            </label>
                            <input type="number" class="form-control form-control-lg font-weight-light" id="mortgageTermMonths" ng-model="vm.deal.mortgageTermMonths" placeholder="Term (months)">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="initialRate" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'FIXED_RATE' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">%</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="initialRate" ng-model="vm.deal.initialTermRate" placeholder="Fixed Term Rate">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="initialTerm" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'FIXED_TERM' | translate}}</small>
                            </label>
                            <input type="number" class="form-control form-control-lg font-weight-light" id="initialTerm" ng-model="vm.deal.initialTermTerm" placeholder="Deal Term">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="remainingRate" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'REMAINING_RATE' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">%</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="remainingRate" ng-model="vm.deal.remainingTermRate" placeholder="Remaining Rate">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="valuationFee" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'VALUATION_FEE' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">£</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="valuationFee" ng-model="vm.deal.valuationFee" placeholder="Valuation Fee">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="bookingFee" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'BOOKING_FEE' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">£</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="bookingFee" ng-model="vm.deal.bookingFee" placeholder="Booking Fee">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="earlyRepayments" class="control-label mb-1">
                                <small class="text-uppercase font-weight-light">{{'MONTHLY_EARLY_REPAYMENTS' | translate}}</small>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-light">£</span>
                                </div>
                                <input type="number" class="form-control form-control-lg font-weight-light" id="earlyRepayments" ng-model="vm.deal.earlyRepayments" placeholder="Early repayments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary" ng-click="vm.calculate(vm.deal)">
                            <span class="text-capitalize">{{'CALCULATE' | translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>