<ng-include src="'views/common/errors/error404.html'" ng-init="vm=vm"></ng-include>

<div class="row animated bounceInRight" ng-if="vm.deal">
    <div class="col">
        <h1 class="text-white font-weight-xlight mb-2">
            <span ng-if="vm.deal.name">{{vm.deal.name}}</span>
            <span ng-if="!vm.deal.name"></span>
        </h1>
        <div class="card bg-transparent text-dark text-left border-0">
            <form id="calculateDealForm" name="calculateDealForm" ng-submit="vm.calculate(vm.deal)" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'mortgageAmount',title:['MORTGAGE_AMOUNT'],prepend:'£'})"></ng-include>
                        </div>
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'mortgageTermYears',title:['TERM','YEARS']})"></ng-include>
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'mortgageTermMonths',title:['TERM','MONTHS']})"></ng-include>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'initialTermRate',title:['FIXED_RATE'],prepend:'%'})"></ng-include>
                        </div>
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'initialTermTerm',title:['FIXED_TERM']})"></ng-include>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'remainingTermRate',title:['REMAINING_RATE'],prepend:'%'})"></ng-include>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'valuationFee',title:['VALUATION_FEE'],prepend:'£'})"></ng-include>
                        </div>
                        <div class="col">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'bookingFee',title:['BOOKING_FEE'],prepend:'£'})"></ng-include>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <ng-include ng-if="true" src="'views/common/form-group.html'" ng-init="vm=vm;form=calculateDealForm;formGroupData=vm.setFormGroupData({fieldId:'earlyRepayments',title:['MONTHLY_EARLY_REPAYMENTS'],prepend:'£'})"></ng-include>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary" ng-disabled="calculateDealForm.$invalid">
                                <span class="text-capitalize">{{'CALCULATE' | translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>