<a class="deal-item d-flex align-items-center p-2" ui-sref="result({dealId:deal.id})">
    <h5 class="col-3 mb-0">{{deal.name}}</h5>
    <div class="col mr-auto">
        £{{deal.mortgageAmount | number : 2}} for {{deal.mortgageTermYears}} years<span ng-if="deal.mortgageTermMonths != 0"> / {{deal.mortgageTermMonths}} months</span>
        <br />
        First {{deal.initialTermTerm}} months at %{{deal.initialTermRate}} then %{{deal.remainingTermRate}}
    </div>
    <button class="btn btn-lg btn-icon" ng-click="vm.link($event, 'edit', deal.id)">
        <span class="fa fa-pencil-alt"></span>
    </button>
    <button class="btn btn-lg btn-icon" ng-click="vm.deleteDeal($event, deal)">
        <span class="fa fa-trash-alt"></span>
    </button>
</a>