.table {
  > thead > tr > th {
    border-bottom: 0;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > td,
      > th {
        border-top: 0;
      }
    }
  }

  th {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, .8);
}

.table-hover > tbody > tr {
  &:focus,
  &:hover {
    color: $white;
    background-color: $purple;
    transition: all .1s ease-in;
  }
}